.notes{
    display: grid;
}

.itemAmount{
    display: flex;
}

.itemAmountvalue{
    display: flex;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: 700;
    background: rgba(var(--color,255,0,0),.05);
    margin-top: 20px;
}

.invoiceHeaderInput {
    background-color: #fff;
    font-size: 13px;
    margin-right: 10px;
    color: rgb(159, 159, 159) !important;
    outline-color: rgb(159, 159, 159);
    width: calc(100% - 24px);
    min-width: 30px;
    height: 24px;
    padding: 0 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    max-width: 152px;
}


.invoiceHeaderInputTextarea{
    min-width: 320px !important;
    font-size: 13px;
    margin-top: 10px !important;
    color: rgb(159, 159, 159) !important;
    outline-color: rgb(159, 159, 159);
    padding: 5px 5px;
    background-color: #fff;
}